<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P4 Barrios Facundo P4</title>
</head>
<body>
<<<<<<<< HEAD:Barrios_Facundo_p6/views/create_user.html
    <form method="POST" action="../creacion/index.php">
========
    <form method="POST" action="../creacion/form_en.php">
>>>>>>>> main:Barrios_Facundo_p5/views/form_en.html
        <div>
            <label>Name:</label><br>
            <input type="text" name="name">
        </div>
        <div>
            <label>Surname:</label><br>
            <input type="text" name="surname">
        </div>
        <div>
            <label>Password:</label><br>
            <input type="text" name="password">
        </div>
        <div>
            <label>Email:</label><br>
            <input type="text" name="email">
        </div>
        <div>
            <label>Role:</label><br>
            <select name="rol">
                <option value="alumnat">alumnat</option>
                <option value="professorat">professorat</option>
            </select>
        </div>
        <div>
            <label>Active:</label><br>
            <select name="active">
<<<<<<<< HEAD:Barrios_Facundo_p6/views/create_user.html
                <option value="1">Si</option>
========
                <option value="1">Yes</option>
>>>>>>>> main:Barrios_Facundo_p5/views/form_en.html
                <option value="0">No</option>
            </select>
        </div>
        
<<<<<<<< HEAD:Barrios_Facundo_p6/views/create_user.html
        <input type="submit" name="send" value="Enviar">
    </form>
    <a href="index.html">Log In</a>
========
        <input type="submit" name="send" value="Send">
    </form>
    <a href="login_en.html">Log In</a>
    <a href="../cookies/deleteCookie.php">Delete cookies</a>
    <a href="../index.php">Back to language selection</a>
>>>>>>>> main:Barrios_Facundo_p5/views/form_en.html
     
</body>
</html>