<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Inicie Sesión</h1>
    <form action="../esp/usuari.php" method="post">
        <label for="email">Email: </label>
        <input type="text" name="email"><br>

        <label for="password">Contraseña: </label>
        <input type="text" name="password"><br>

        <label for="rememberme">Recuérdame</label>
        <input type="checkbox" name="rememberme"><br>

        <input type="submit" name="send" value="Enviar">
    </form>
    <a href="form.html">Crear usuario</a>
</body>
</html>